<article>
	<div class="page-header">
            <h1>排版组件</h1>
          </div>

          <h2>Hero块</h2>
          <p>一个轻量、灵活的用于展示网站重点内容的组件。很适合营销类或内容类网站。</p>
          <div class="bs-docs-example">
            <div class="hero-unit">
              <h1>Hello, world!</h1>
              <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <p><a class="btn btn-primary btn-large">Learn more</a></p>
            </div>
          </div>
<pre class="prettyprint linenums">
&lt;div class="hero-unit"&gt;
  &lt;h1&gt;Heading&lt;/h1&gt;
  &lt;p&gt;Tagline&lt;/p&gt;
  &lt;p&gt;
    &lt;a class="btn btn-primary btn-large"&gt;
      Learn more
    &lt;/a&gt;
  &lt;/p&gt;
&lt;/div&gt;
</pre>

          <h2>页面标题</h2>
          <p>给<code>h1</code>套上这个简单的外壳，就可以为其增加间隔并从页面中分离出来。也可以在<code>h1</code>里增加<code>small</code>元素，就像其他大部分组件一样（需要增加额外的样式）。</p>
          <div class="bs-docs-example">
            <div class="page-header">
              <h1>Example page header <small>Subtext for header</small></h1>
            </div>
          </div>
<pre class="prettyprint linenums">
&lt;div class="page-header"&gt;
  &lt;h1&gt;Example page header &lt;small&gt;Subtext for header&lt;/small&gt;&lt;/h1&gt;
&lt;/div&gt;
</pre>
</article>