	<section class="m-article">
		<h3>静态网站</h3>
		<div class="u-line"></div>
		<div class="m-list">
			<ul class="clearfix">
				<li>
					<a class="link" href="/demo/static1" target="_blank" title="静态网站-1">
						<p>
							<img src="{{ImagePATH}}/static1.jpg" alt="静态网站-1"></p>
						<span>静态网站-1</span>
					</a>
				</li><li>
					<a class="link" href="/demo/static2" target="_blank" title="静态网站-2">
						<p>
							<img src="{{ImagePATH}}/static2.jpg" alt="静态网站-2"></p>
						<span>静态网站-2</span>
					</a>
				</li><li>
					<a class="link" href="/demo/static3" target="_blank" title="静态网站-3">
						<p>
							<img src="{{ImagePATH}}/static3.jpg" alt="静态网站-3"></p>
						<span>静态网站-3</span>
					</a>
				</li><li>
					<a class="link" href="/demo/static4" target="_blank" title="静态网站-4">
						<p>
							<img src="{{ImagePATH}}/static4.jpg" alt="静态网站-4"></p>
						<span>静态网站-4</span>
					</a>
				</li><li>
					<a class="link" href="/demo/static5" target="_blank" title="静态网站-5">
						<p>
							<img src="{{ImagePATH}}/static5.jpg" alt="静态网站-5"></p>
						<span>静态网站-5</span>
					</a>
				</li><li>
					<a class="link" href="/demo/static6" target="_blank" title="静态网站-6">
						<p>
							<img src="{{ImagePATH}}/static6.jpg" alt="静态网站-6"></p>
						<span>静态网站-6</span>
					</a>
				</li><li>
					<a class="link" href="/demo/static7" target="_blank" title="静态网站-7">
						<p>
							<img src="{{ImagePATH}}/static7.jpg" alt="静态网站-7"></p>
						<span>静态网站-7</span>
					</a>
				</li>

			</ul>
		</div>
	</section>