<article class="m-article">
	<h3>常用布局</h3>
	<div class="u-line"></div>
	<dl>
		<dt>底部对齐列表</dt>
		<dd>
			<style type="text/css">
			/* 底部对齐列表 */  
			.m-demo{background:#dfedf0;margin:0;padding:0;font-size:0;letter-spacing:-0.307em;*letter-spacing:normal;*word-spacing:-1px;}
			.m-demo li{display:inline-block;*zoom:1;*display:inline;margin:10px;vertical-align:bottom;font-size:12px;letter-spacing:normal;word-spacing:normal;color:#333;border:1px solid #ccc;}
			
			/* 预览辅助样式 */
			img{max-width: none;}
		</style>
			<div class="f-cb">
				<ul class="m-demo">
				    <li>this is content</li>
				    <li><img style="width:50px;height:50px;" src="{{ImagePATH}}/s/1.jpg" /><br>title</li>
				    <li><img style="width:70px;height:30px;" src="{{ImagePATH}}/s/1.jpg" /><br>title</li>
				    <li>this is content</li>
				    <li>this is content<br>this is content</li>
				    <li><img style="width:70px;height:80px;" src="{{ImagePATH}}/s/1.jpg" /><br>title</li>
				    <li><img style="width:60px;height:30px;" src="{{ImagePATH}}/s/1.jpg" /><br>title</li>
				    <li>this is content</li>
				    <li><img style="width:100px;height:70px;" src="{{ImagePATH}}/s/1.jpg" /><br>title</li>
				    <li>this is content<br>this is content<br>this is content</li> 
				</ul> 
			</div>
		</dd>
		<dt>代码</dt>
		<dd>
			<pre  class="prettyprint linenums">
 /* 底部对齐列表 */
&lt;style&gt;
.m-demo{width:510px;background:#dfedf0;margin:0;padding:0;font-size:0;letter-spacing:-0.307em;*letter-spacing:normal;*word-spacing:-1px;}
.m-demo li{display:inline-block;*zoom:1;*display:inline;margin:10px;vertical-align:bottom;font-size:12px;letter-spacing:normal;word-spacing:normal;color:#333;border:1px solid #ccc;}
&lt;/style&gt;
&lt;ul class="m-demo"&gt;
    &lt;li&gt;this is content&lt;/li&gt;
    &lt;li&gt;&lt;img style="width:50px;height:50px;" src="{{ImagePATH}}/s/1.jpg" /&gt;&lt;br&gt;title&lt;/li&gt;
    &lt;li&gt;&lt;img style="width:70px;height:30px;" src="{{ImagePATH}}/s/1.jpg" /&gt;&lt;br&gt;title&lt;/li&gt;
    &lt;li&gt;this is content&lt;/li&gt;
    &lt;li&gt;this is content&lt;br&gt;this is content&lt;/li&gt;
    &lt;li&gt;&lt;img style="width:70px;height:80px;" src="{{ImagePATH}}/s/1.jpg" /&gt;&lt;br&gt;title&lt;/li&gt;
    &lt;li&gt;&lt;img style="width:60px;height:30px;" src="{{ImagePATH}}/s/1.jpg" /&gt;&lt;br&gt;title&lt;/li&gt;
    &lt;li&gt;this is content&lt;/li&gt;
    &lt;li&gt;&lt;img style="width:100px;height:70px;" src="{{ImagePATH}}/s/1.jpg" /&gt;&lt;br&gt;title&lt;/li&gt;
    &lt;li&gt;this is content&lt;br&gt;this is content&lt;br&gt;this is content&lt;/li&gt; 
&lt;/ul&gt; </pre>

		</dd>
	</dl>
</article>