<article class="m-article">
	<h3>栅格系统</h3>
	<div class="u-line"></div>
	<dl>
		<dt>概述</dt>
		<dd>
			<p>利用栅格系统将页面布局划分成为多个列，在紧凑的空间中将信息整齐的排布，各个模块移植性强，页面布局清晰规范。</p>
		</dd>
		<dt>栅格系统示例</dt>
			<p>以常见的栅格系统为12列举例，形成一个940px宽的容器。</p>
			<div class="bs-docs-grid">
            <div class="row show-grid">
              <div class="span1" data-original-title="" title="">1</div>
              <div class="span1" data-original-title="" title="">1</div>
              <div class="span1" data-original-title="" title="">1</div>
              <div class="span1" data-original-title="" title="">1</div>
              <div class="span1" data-original-title="" title="">1</div>
              <div class="span1" data-original-title="" title="">1</div>
              <div class="span1" data-original-title="" title="">1</div>
              <div class="span1" data-original-title="" title="">1</div>
              <div class="span1" data-original-title="" title="">1</div>
              <div class="span1" data-original-title="" title="">1</div>
              <div class="span1" data-original-title="" title="">1</div>
              <div class="span1" data-original-title="" title="">1</div>
            </div>
            <div class="row show-grid">
              <div class="span3" data-original-title="" title="">3</div>
              <div class="span4" data-original-title="" title="">4</div>
              <div class="span5" data-original-title="" title="">5</div>
            </div>
            <div class="row show-grid">
              <div class="span6" data-original-title="" title="">6</div>
              <div class="span6" data-original-title="" title="">6</div>
            </div>
            <div class="row show-grid">
              <div class="span12" data-original-title="" title="">12</div>
            </div>
          </div>
		<dt>带有基本栅格的HTML代码</dt>

		<dd>
			<pre  class="prettyprint linenums">
&lt;div class="row"&gt;
  &lt;div class="span3"&gt;...&lt;/div&gt;
  &lt;div class="span4"&gt;...&lt;/div&gt;
  &lt;div class="span5"&gt;...&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
  &lt;div class="span2"&gt;...&lt;/div&gt;
  &lt;div class="span8 offset2"&gt;...&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
  &lt;div class="span12"&gt;...&lt;/div&gt;
&lt;/div&gt; 
&lt;!-- 嵌套列 --&gt;
&lt;div class="row"&gt;
  &lt;div class="span9"&gt;
    Level 1 column
    &lt;div class="row"&gt;
      &lt;div class="span6"&gt;Level 2&lt;/div&gt;
      &lt;div class="span3"&gt;Level 2&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
		</dd>
		<dt>使用方法</dt>
		<dd>
			<p>通过右键另存为下载 <a href="download/css/gridsystem.css" target="_blank">gridsystem.css</a>。</p>
		</dd>
	</dl>
</article>