<section class="m-article">
	<h3>js拖拽</h3>
	<div class="u-line"></div>
	   <div class="content">
      <p>传入拖拽手柄与被拖拽体，并且能在同一页面创建多个实例，相互独立不影响。

      </p>
  </div>

<ol>
<li>为支持多参数定义，改为构造函数实现</li>
<li>可定义拖拽自由度是X轴或Y轴</li>
<li>可定义拖拽的范围</li>
</ol>


<pre class="prettyprint linenums">var miniDrag =function() {
    this.handler = null;
    this.dragBody = null;
    this.preventX = false;
    this.preventY = false;
    this.scopeX = false;
    this.scopeY = false;
    this.initmouseX = null;
    this.initmouseY = null;
    this.initX = null;
    this.initY = null;
};
miniDrag.prototype.init = function() {
    var _this = this,
        dragBody = this.dragBody,
        handler = this.handler;
    handler.onmousedown = function(e){ return _this.start(e)};   //闭包改变this指向
    dragBody.onDragStart = new Function();
    dragBody.onDragEnd = new Function();
    dragBody.onDrag = new Function();
    if (isNaN(parseInt(dragBody.style.top))) dragBody.style.top = "0px";
    if (isNaN(parseInt(dragBody.style.left))) dragBody.style.left = "0px";
     // 对于原始坐标不为[0,0]的情况，修正 scope 为偏移量
    if(this.scopeY){
        _this.scopeY[0] += parseInt(dragBody.style.top);
        _this.scopeY[1] += parseInt(dragBody.style.top);
    }
    if(this.scopeX){
        _this.scopeX[0] += parseInt(dragBody.style.left);
        _this.scopeX[1] += parseInt(dragBody.style.left);
    }
};
miniDrag.prototype.start = function(e) {
    e = fixEvent(e);
    var _this = this,
        dragBody = this.dragBody,
        handler = this.handler;
    this.intmouseX = e.pageX,
    this.intmouseY = e.pageY;
    this.initY = parseInt(dragBody.style.top),
    this.initX = parseInt(dragBody.style.left);
    document.onmousemove = function(e){return _this.dragging(e)};
    document.onmouseup = function(e){return _this.end(e)};
    dragBody.onDragStart(this.initY,this.initX);
    return false; //重要，避免不同实例事件冲突
};
miniDrag.prototype.dragging = function(e) {
    e = fixEvent(e);
    var _this = this,
        dragBody = this.dragBody,
        handler = this.handler;
    if (document.all) {
        handler.setCapture();
    } else {
        e.preventDefault();
    }
    if(!_this.preventY) {
        var top = _this.initY + e.pageY - _this.intmouseY;
        if(top &lt; parseInt(_this.scopeY[0])){top = _this.scopeY[0]};
        if(top &gt; parseInt(_this.scopeY[1])){top = _this.scopeY[1]};
        dragBody.style.top = top + "px";
    }
    if(!_this.preventX) {
        var left = this.initX + e.pageX - this.intmouseX;
        if(left &lt; parseInt(_this.scopeX[0])){left = _this.scopeX[0]};
        if(left &gt; parseInt(_this.scopeX[1])){left = _this.scopeX[1]};
        dragBody.style.left = left + "px";
    }
    dragBody.onDrag(top,left);
    return false;
};
miniDrag.prototype.end = function() {
    var dragBody = this.dragBody;
    dragBody.onDragEnd();
    if (document.all) {
        this.handler.releaseCapture()
    };
    document.onmousemove = null;
    document.onmouseup = null;
};
var fixEvent = function(e) {
    var sl = Math.max(document.documentElement.scrollLeft, document.body.scrollLeft),
        st = Math.max(document.documentElement.scrollTop, document.body.scrollTop);
    if (typeof e == "undefined") e = window.event;
    if (typeof e.pageX == "undefined") e.pageX = e.clientX + sl + document.body.clientLeft;
    if (typeof e.pageY == "undefined") e.pageY = e.clientY + st + document.body.clientTop;
    if (typeof e.layerX == "undefined") e.layerX = e.offsetX;
    if (typeof e.layerY == "undefined") e.layerY = e.offsetY;
    return e;
};
</pre>
<p>通过右键另存为下载 <a href="download/js/mini-drag.js" target="_blank">mini-drag.js</a>。</p>
</section>