<article class="m-article">
	<h3>常见布局</h3>
	<div class="u-line"></div>
	<dl>
		<dt>两列右侧自适应布局</dt>
		<dd>
			<style type="text/css">
			 /* 两列右侧自适应布局 */
			.g-sd{position:absolute;width:190px;}
			.g-mn{margin-left: 220px;}

			/* 预览辅助样式 */
			.g-bd{border:1px solid #999;padding-bottom: 0px;position: relative;background: #eee;}
			.g-bd p{height:150px;padding:10px;color:#fff;background:#B1D6DD;margin: 0}
			.g-sd p{background:#4eb3b9;}

		</style>
			<div>
				<div class="g-bd f-cb" resizy>
					<div class="g-sd">
						<p>左侧定宽</p>
					</div>
					<div class="g-mn">
						<p>右侧自适应</p>
					</div>
					<h4 class="f-tac">容器</h4>
				</div>
			</div>
		</dd>
		<dt>代码</dt>
		<dd>
			<pre  class="prettyprint linenums">
 /* 两列右侧自适应布局 */
&lt;style&gt;
.g-sd{position:absolute;width:190px;}
.g-mn{margin-left: 220px;}
&lt;/style&gt;
&lt;div&gt;
	&lt;div class="g-sd"&gt;
		&lt;p&gt;左侧定宽&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="g-mn"&gt;
		&lt;p&gt;右侧自适应&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt; </pre>

		</dd>
	</dl>
</article>