<article class="m-article">
	<h3>CSS 尺寸与位置</h3>
	<div class="u-line"></div>
	<dl>
		<dt>概述</dt>
		<dd>
			<p>尺寸与位置样式，从常用样式方法中抽离，按需使用。</p>
		</dd>
		<dt>Demension 代码（部分）</dt>
		<dd>
			<pre class="prettyprint linenums">
/*demensions*/
.d-ww{width:100%}
.d-w10{width:10px;}
.d-w20{width:20px;}
.d-w50{width:50px;}
.d-w100{width:100px;}
.d-hh{height:100%}
.d-h10{height: 10px}
.d-h20{height: 20px}
.d-h50{height:50px;}
.d-h100{height:100px;}
.d-m5{margin:5px;}
.d-m10{margin:10px;}
.d-m30{margin:30px;}
.d-mt2{margin-top:2px;}
.d-mt3{margin-top:3px;}
.d-mt4{margin-top:4px;}
.d-mt5{margin-top:5px;}
.d-mt10{margin-top:10px;}
.d-mt15{margin-top:15px;}
.d-mt20{margin-top:20px;}
.d-mt30{margin-top:30px;}
.d-mt40{margin-top:40px;}
.d-mt50{margin-top:50px;}
.d-mt100{margin-top:100px;}
.d-mb5{margin-bottom:5px;}
.d-mb10{margin-bottom:10px;}
.d-mb15{margin-bottom:15px;}
.d-mb20{margin-bottom:20px;}
.d-mb30{margin-bottom:30px;} </pre>
		</dd>
		<dt>使用方法</dt>
		<dd>
			<p>通过右键另存为下载 <a href="download/css/demension.css" target="_blank">function.css</a>，直接使用或将代码复制到你的css文件顶部。</p>
		</dd>
	</dl>
</article>