<section class="m-article">
	<h3>常用布局</h3>
	<div class="u-line"></div>
	<div class="m-list">
			<ul class="clearfix">

				<li>
					<a class="link" href="#/layout/common/a" title="两列右侧自适应布局">
						<p>
							<img src="{{ImagePATH}}/thumb_a.png" alt="两列右侧自适应布局"></p>
						<span>两列右侧自适应布局</span>
					</a>
				</li>

				<li>
					<a class="link" href="#/layout/common/b" title="两列左侧自适应布局">
						<p>
							<img src="{{ImagePATH}}/thumb_b.png" alt="两列左侧自适应布局"></p>
						<span>两列左侧自适应布局</span>
					</a>

				</li>

				<li>
					<a class="link" href="#/layout/common/c" title="两列定宽布局">
						<p>
							<img src="{{ImagePATH}}/thumb_c.png" alt="两列定宽布局"></p>
						<span>两列定宽布局</span>
					</a>

				
				</li>

				<li>
					<a class="link" href="#/layout/common/d" title="三列中间自适应布局">
						<p>
							<img src="{{ImagePATH}}/thumb_d.png" alt="三列中间自适应布局"></p>
						<span>三列中间自适应布局</span>
					</a>

				
				</li>

				<li>
					<a class="link" href="#/layout/common/e" title="三列左侧自适应布局">
						<p>
							<img src="{{ImagePATH}}/thumb_e.png" alt="三列左侧自适应布局"></p>
						<span>三列左侧自适应布局</span>
					</a>

			
				</li>

				<li>
					<a class="link" href="#/layout/common/f" title="三列右侧自适应布局">
						<p>
							<img src="{{ImagePATH}}/thumb_f.png" alt="三列右侧自适应布局"></p>
						<span>三列右侧自适应布局</span>
					</a>

				</li>
				<li>
					<a class="link" href="#/layout/common/g" title="水平多行多列自适应布局">
						<p>
							<img src="{{ImagePATH}}/thumb_g.png" alt="水平多行多列自适应布局"></p>
						<span>水平多行多列自适应布局</span>
					</a>

				</li>
				<li>
					<a class="link" href="#/layout/common/h" title="全屏自适应布局">
						<p>
							<img src="{{ImagePATH}}/thumb_h.png" alt="全屏自适应布局"></p>
						<span>全屏自适应布局</span>
					</a>

				</li>
				<li>
					<a class="link" href="#/layout/common/i" title="底部自适应文档和窗口">
						<p>
							<img src="{{ImagePATH}}/thumb_i.png" alt="底部自适应文档和窗口"></p>
						<span>底部自适应文档和窗口</span>
					</a>

				</li>
				<li>
					<a class="link" href="#/layout/common/j" title="图片居中溢出隐藏">
						<p>
							<img src="{{ImagePATH}}/thumb_j.png" alt="图片居中溢出隐藏"></p>
						<span>图片居中溢出隐藏</span>
					</a>

				</li>
				<li>
					<a class="link" href="#/layout/common/k" title="底部对齐列表">
						<p>
							<img src="{{ImagePATH}}/thumb_k.png" alt="底部对齐列表"></p>
						<span>底部对齐列表</span>
					</a>

				</li>
				<li>
					<a class="link" href="#/layout/common/l" title="前后适应跟随">
						<p>
							<img src="{{ImagePATH}}/thumb_l.png" alt="前后适应跟随"></p>
						<span>前后适应跟随</span>
					</a>

				</li>
			</ul>
	</div>
</section>