<section class="m-article">
	<h3>Javacript 优化</h3>
	<div class="u-line"></div>
	<ol>
		<li>把脚本置于页面底部</li>
		<li>使用外部JavaScript和CSS</li>
		<li>削减JavaScript和CSS</li>
		<li>剔除重复脚本</li>
		<li>减少DOM访问</li>
		<li>开发智能事件处理程序</li>
	</ol>
	<dl>
		<dt>把样式表置于顶部</dt>
		<dd>
			<p>脚 本带来的问题就是它阻止了页面的平行下载。HTTP/1.1 规范建议,浏览器每个主机名的并行下载内容不超过两个。如果你的图片放在多个主机名上,你可以在每个并行下载中同时下载 2 个以上的文件。但是当下载脚本时,浏览器就不会同时下载其它文件了,即便是主机名不相同。 在某些情况下把脚本移到页面底部可能不太容易。比如说,如果脚本中使用了document.write来插入页面内容,它就不能被往下移动了。这里可能还 会有作用域的问题。很多情况下,都会遇到这方面的问题。一个经常用到的替代方法就是使用延迟脚本。DEFER属性表明脚本中没有包含 document.write,它告诉浏览器继续显示。不幸的是,Firefox并不支持DEFER属性。在Internet Explorer中,脚本可能会被延迟但效果也不会像我们所期望的那样。如果脚本可以被延迟,那么它就可以移到页面的底部。这会让你的页面加载的快一点。</p>
		</dd>
		<dt>剔除重复脚本</dt>
		<dd>
			<p>在 同一个页面中重复引用 JavaScript 文件会影响页面的性能。你可能会认为这种情况并不多见。对于美国前 10 大网站的调查显示其中有两家存在重复引用脚本的情况。有两种主要因素导致一个脚本被重复引用的奇怪现象发生:团队规模和脚本数量。如果真的存在这种情况, 重复脚本会引起不必要的 HTTP 请求和无用的 JavaScript 运算,这降低了网站性能。在 Internet Explorer 中会产生不必要的 HTTP 请求,而在 Firefox 却不会。 Internet在它就会在页面加载过程中产Explorer 中,如果一个脚本被引用两次而且它又不可缓存,生两次 HTTP 请求。即时脚本可以缓存,当用户重载页面时也会产生额外的 HTTP 请求。</p>
			<p>除 增加额外的 HTTP 请求外,多次运算脚本也会浪费时间。在 Internet Explorer 和Firefox 中不管脚本是否可缓存,它们都存在重复运算 JavaScript 的问题。一个避免偶尔发生的两次引用同一脚本的方法是在模板中使用脚本管理模块引用脚本。</p>
			<p>在 HTML 页面中使用<script />标签引用脚本的最常见方法就是:</p>
			<p><code>&lt;script type=”text/javascript” src=”menu_1.0.17.js”&gt;&lt;/script&gt;</code></p>
			<p>为了防止多次重复引用脚本,这个方法中还应该使用其它机制来处理脚本,如检查所属目录和为脚本文件名中增加版本号以用于 Expire 文件头等。</p>
		</dd>
		<dt>减少 DOM 访问</dt>
		<dd>
			<p>使用 JavaScript 访问 DOM 元素比较慢,因此为了获得更多的应该页面,应该做到:</p>
			<ul>
				<li>缓存已经访问过的有关元素</li>
				<li>线下更新完节点之后再将它们添加到文档树中</li>
				<li>避免使用 JavaScript 来修改页面布局</li>
			</ul>
			<p>有关此方面的更多信息请查看Julien Lecomte在YUI专题中的文章“高性能Ajax应该程序”</p>
		</dd>
		<dt>开发智能事件处理程序</dt>
		<dd>
			<p>有 时候我们会感觉到页面反应迟钝,这是因为DOM树元素中附加了过多的事件句柄并且些事件句病被频繁地触发。这就是为什么说使用event delegation(事件代理)是一种好方法了。如果你在一个div中有 10 个按钮,你只需要在div上附加一次事件句柄就可以了,而不用去为每一个按钮增加一个句柄。事件冒泡时你可以捕捉到事件并判断出是哪个事件发出的。你同样 也不用为了操作DOM树而等待onload事件的发生。你需要做的就是等待树结构中你要访问的元素出现。你也不用等待所有图像都加载完毕。你可能会希望用 DOMContentLoaded事件来代替onload,但是在所有浏览器都支持它之前你可使用YUI 事件应用程序中的onAvailable方法。有关此方面的更多信息请查看Julien Lecomte在YUI专题中的文章“高性能Ajax应该程序”。</p>
		</dd>
	</dl>
</section>