html,body{font-size: 12px;font-family: Microsoft Yahei;background: #eee;height: 100%;color: #333333;margin: 0;padding: 0}
ul{list-style-type: none;}
a{text-decoration: none;color: #555}
a:hover{text-decoration: underline;}
.pageContainer{width: 970px;margin: 0 auto;position: relative;background: #fff;min-height: 100%;height: 100%;height: auto!important;overflow: visible;}
#top{background: #ffffff;height: 165px;width: 970px}
#main{padding: 0px 0px 140px 0px;*padding-bottom: 0px;width: 950px;margin: 0 auto;}
#footer{background: #ABABAB;height: 100px;position: absolute;bottom: 4px;width: 970px;*position: static;*margin-top: 30px;}
#footerCont{background: #ABABAB;height: 100px}
#footer p, #footerCont p{text-align: center;color: #ffffff;line-height: 30px;}
.topBanner{width: 970px;height: 165px;background: url(../images/topbg.png);background-position: center;}
.topBanner h3{float: right;margin-right: 40px;margin-top: 55px;color: #FFFFFF;font-size: 28px;font-family: kaiti_GB2313;*display: inline;}
.nav{width: 100%;height: 40px;margin-top: -40px}
.nav ul{width: 490px;margin: 0 auto;}
.nav ul li{float: left;}
.nav ul li a{display: block;height: 30px;margin-top:5px;float: left;line-height: 30px;padding: 0 20px;color: #FFFFFF;font-size: 14px}
.nav ul li a:hover{text-decoration: none;color: #FFFFFF;background: #FF8A00;}
.span8{width: 310px;float: left;margin-right: 10px;*display: inline;margin-top: 10px;clear: left;}
.span10{width: 390px;float: left;margin-right: 10px;*display: inline;margin-top: 10px}
.span6{width: 230px;float: left;*display: inline;margin-top: 10px} 
.span4{width: 150px;float: left;*display: inline;margin-top: 10px} 
.span18{width: 710px;float: left;margin-right: 10px;*display: inline;margin-top: 10px} 
/**********24栏960布局 gap=2*10***************/
.titleBar{background: #F1F1F1;height: 26px;padding-top: 5px;border: 1px solid #D5D5D5;border-top-left-radius: 5px;border-top-right-radius: 5px;height: 25px;border-bottom: 1px solid #D5D5D5}
.titleBar h3{display: inline;font-weight: 400;color: #FE8A00;float: left;font-size: 14px;height: 26px;padding: 0 10px 0 30px;}
.titleBar a.more{float: right;position: relative;top: 5px;right: 10px}

.span6 .columnList, .span8 .columnList{position: relative;}

.columnList{padding: 10px}
.columnList ul li {height: 22px;padding-top: 5px;padding-left: 10px;background: url(../images/arrowOrange.png);background-position: left center;background-repeat: no-repeat; }
.laws .columnList ul li {list-style-type: disc;background: none;margin-left: 20px;padding-left: 0; }
.columnList ul li a{float: left;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
.columnList, .columnArticle{border: 1px solid #D5D5D5;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-top: none}

.span8 .columnList ul li a{max-width: 240px;*width: 240px;}
.span10 .columnList ul li a{max-width: 300px;*width: 300px;}
.span6 .columnList ul li a{max-width: 160px;*width: 160px;}
.span18 .columnList ul li a{max-width: 600px;*width: 600px;}


.columnList ul li span{float: right}
.columnList.links{border-top:none;padding: 8px 10px 7px 10px}
.columnArticle{padding: 10px;}
.columnArticle h3{text-align: center;margin-top: 10px;margin-bottom: 10px}
.columnArticle p{text-indent: 2em;line-height: 24px}
i.newIcon{display: block; width: 21px;height: 16px;background: url(../images/newIcon.png);float: left;*display: inline;position: relative;top: 1px;margin-left: 6px;background-repeat: no-repeat;}
.links a{color:#1761b3}
.detailPage #main{margin-top: 10px}
ul.subnav{position: absolute;width: 100px;background: #204E68;top: 439px;z-index: 1000;display: none}
.contact dt{clear: both;padding: 3px;}
.contact dd{margin-left: 20px;padding: 2px 0px 2px 0px;float: left;*display: inline;*margin-left: 10px;}
.contact dd a{color: #1761b3}
.titleBar h3{background: url(../images/arrowOrangeLarge.png);background-repeat: no-repeat;background-position: 10px 3px;}
.titleBar1 h3{background: url(../images/titleIcon1.png);background-repeat: no-repeat;background-position: 10px 3px;}
.titleBar2 h3{background: url(../images/titleIcon2.png);background-repeat: no-repeat;background-position: 10px 3px;}
.titleBar3 h3{background: url(../images/titleIcon3.png);background-repeat: no-repeat;background-position: 10px 3px;}
.titleBar4 h3{background: url(../images/titleIcon4.png);background-repeat: no-repeat;background-position: 10px 3px;}
.titleBar5 h3{background: url(../images/titleIcon5.png);background-repeat: no-repeat;background-position: 10px 3px;}
.titleBar6 h3{background: url(../images/titleIcon6.png);background-repeat: no-repeat;background-position: 10px 3px;}
.titleBar7 h3{background: url(../images/titleIcon7.png);background-repeat: no-repeat;background-position: 10px 3px;}
