<article class="m-article">
<script src="js/test.js"></script>
	<h3>HTML 模板</h3>
	<div class="u-line"></div>
	<dl>
		<dt>概述</dt>
		<dd>
			<p>包含完整头部信息和主体结构的HTML基础模板。</p>
		</dd>
		<dt>HTML Template 代码</dt>
		<dd>
			<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="utf-8"/&gt;
&lt;meta http-equiv="X-UA-Compatible" content="IE=Edge"&gt;
&lt;title&gt;Combanc FE-Hub&lt;/title&gt;
&lt;link rel="stylesheet" href="css/style.css"/&gt;
&lt;link rel="shortcut icon" href="img/favicon.ico"/&gt;
&lt;script src="js/test.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div class="g-doc"&gt;
    &lt;div class="g-hd"&gt;
          
    &lt;/div&gt;
    &lt;div class="g-bd"&gt;
        &lt;div class="g-mn"&gt;
              
        &lt;/div&gt;
        &lt;div class="g-sd"&gt;
              
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="g-ft"&gt;
          
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt; </pre>
		</dd>
		<dt>使用方法</dt>
		<dd>
			<p>通过右键另存为下载 <a href="download/template.html" target="_blank">template.html</a>，直接使用或截取部分。</p>
		</dd>
	</dl>
</article>