<article class="m-article">
	<h3>常用布局</h3>
	<div class="u-line"></div>
	<dl>
		<dt>前后适应跟随</dt>
		<dd>
			<style type="text/css">
			/* 前自适应后跟随 */
			.m-demo{padding:5px 0;border-bottom:1px dotted #ddd;font-size:12px;}
			.m-demo .cnt{float:left;margin-right:80px;}
			.m-demo .date{display:inline;float:left;margin-left:-70px;}
			
			/* 预览辅助样式 */
			.m-demo{padding-bottom: 10px;position: relative;}
		</style>
				<div class="m-demo f-cb" resizy>
					<div class="cnt">
						这是一段长度未知的文本，自动换行，且不会把右边的时间挤掉，自动换行，且不会把右边的时间挤本，自动换行，且不会把右边的时间挤修改这段文字长度或改变窗口宽度试试。
					</div>
					<div class="date">2009-08-08</div>
				</div>
		</dd>
		<dt>代码</dt>
		<dd>
			<pre  class="prettyprint linenums">
 /* 前后适应跟随 */
&lt;style&gt;
.m-demo{padding:5px 0;border-bottom:1px dotted #ddd;font-size:12px;}
.m-demo .cnt{float:left;margin-right:80px;}
.m-demo .date{display:inline;float:left;margin-left:-70px;}
&lt;/style&gt;
&lt;div class="m-demo f-cb"&gt;
	&lt;div class="cnt"&gt;
		这是一段长度未知的文本，自动换行，且不会把右边的时间挤掉，自动换行，且不会把右边的时间挤本，自动换行，且不会把右边的时间挤修改这段文字长度或改变窗口宽度试试。
	&lt;/div&gt;
	&lt;div class="date"&gt;2009-08-08&lt;/div&gt;
&lt;/div&gt;</pre>

		</dd>
	</dl>
</article>