	<section class="m-article">
		<h3>门户网站</h3>
		<div class="u-line"></div>
		<div class="m-list">
			<ul class="clearfix">
				<li>
					<a class="link" href="/demo/portal1" target="_blank" title="门户网站-1">
						<p>
							<img src="{{ImagePATH}}/portal1.jpg" alt="门户网站-1"></p>
						<span>门户网站-1</span>
					</a>
				</li><li>
					<a class="link" href="/demo/portal2" target="_blank" title="门户网站-2">
						<p>
							<img src="{{ImagePATH}}/portal2.jpg" alt="门户网站-2"></p>
						<span>门户网站-2</span>
					</a>
				</li>
			</ul>
		</div>
	</section>