<section class="m-article">
	<h3>模块与界面</h3>
	<div class="u-line"></div>
	<div class="d-mt50">
	<p><a href="https://angularjs.org/" target="_blank">AngularJS</a>　作为数据框架，本身并不提供UI，但是其繁荣的生态系统提供了大量拓展。</p>
	<p><a href="http://angular-ui.github.io/" target="_blanck">AngularUI</a>　提供了许多AngularJS可拓展的模块，一般将UI-Bootstrap模块作为CSS框架，而NG-Grid是一款强大的动态可操作表格模块。
	</p>
	<ul>
		<li>动态数据表格（提供工具栏的增删改查，分页，排序，统计）</li>
		<li>表单验证</li>
		<li>弹窗</li>
		<li>下拉导航、树形导航、侧导航</li>
		<li>日期时间选择器</li>
		<li>Message 提示</li>
	</ul>
	<p>以上等等，都可以通过<a href="http://angular-ui.github.io/" target="_blank">http://angular-ui.github.io/</a>获得。</p>
	<p>如果涉及的UI不需要与AngularJS数据交互的话，也可以不通过注册模块的方式引入。</p>
	</div>
</section>	