<style>
	.main-grid .grid-left{display:none;}
	.main-grid .grid-right{margin:0 auto;width:640px;}
</style>
<section class="readme">
<dl>
	<dt>规范</dt>
	<dd>介绍关于Html, CSS书写，命名，分类，排序规范，最佳实践以及如何规避不好的用法。</dd>
	<dt>基础库</dt>
	<dd>"基础库"是一些经常需要使用的CSS集合，作为(Public)公共基础可以被项目范围内引用，应该保持其唯一性，专人维护，不能随意修改。</dd>
	<dt>布局</dt>
	<dd>"布局"总结了一些常用的页面布局，两栏，三栏，满屏，自适应...另外还包含Bootstrap（源于Twitter的开源CSS框架）的栅格系统，固定布局，流式布局，响应式布局内容以及区别。</dd>
	<dt>样式、组件、JavaScript插件</dt>
	<dd>
		这三部分内容取自Bootstrap 第二版，包含几乎所有常用的页面元素，表格，表单，按钮，图标，Tab切换，下拉菜单，弹窗...
	</dd>
	<dd>
		Bootstrap.css是由Less语言编译得到，通过Bootstrap.less文件可以很方便的批量修改样式，以形成不同风格的皮肤UI。
	</dd>
	<dd>
		下载<a href="assets/lib/bootstrap/css/bootstrap-v2.css" target="_blank">Bootstrap.css</a>并引入页面，如果所需要构建的元素涉及到JavaScript，则还需要引入<a href="assets/lib/bootstrap/bootstrap.min.js" target="_blank">Bootstrap.js</a>。或者下载<a href="down/bootstrap/bootstrap-2.3.2.zip" target="_blank">完整源码包</a>，定制更多功能。
	</dd>
	<dt>NG-CMS框架</dt>
	<dd>这是以远程教学平台为例，用AngularJS开发的一套前端模板，适用于构建单页应用，管理后台等复杂应用，目前只是一个雏形，并未完善。</dd>
	<dt>快速开始</dt>
	<dd>这里收集以往项目中用过的页面模板，可以以此为基础，快速开始新项目。</dd>
	<dt>实用</dt>
	<dd>这里总结项目中常用的插件，组件，以及收集了一些根据需要开发的插件。</dd>
	<dt>Yahoo优化准则</dt>
	<dd>Yahoo前端优化34条，帮助编写更好的代码，实现更优的性能。</dd>
	<dt>浏览器兼容</dt>
	<dd>总结常用的兼容方案，常见的兼容性Bug。</dd>
</dl>
</section>